<div class="container">

	<h1> let's play event roulette! </h1>
	<form class="form" ng-submit="search()">
		<label>enter a zipcode</label>
		<input type="text" class="form-control" ng-model="zipSearch" placeholder="enter a zipcode">
		<label>enter a radius</label>
		<select>
  		<option value="10">10</option>
  		<option value="25">25</option>
  		<option value="50">50</option>
  		<option value="100">100</option>
		</select>
		<!-- <input type="number" class="form-control" ng-model="radiusSearch">
		<input type="range" ng-model="radiusSearch" min="5" max="150" placeholder="please enter a number between 5 and 150"> -->
    		<input type="submit" class="btn btn-primary">

	</form>

</div>